  <!-- This is where React will deploy the contents it generates -->
  <div id="app"></div>

  <!-- All of our JS code will be transpiled into this bundle.js file -->
  <script src="bundle.js"></script>